@import url(https://fonts.googleapis.com/css?family=Raleway);

$font-stack: Raleway, sans-serif;
$primary-color: #6D7382;
$secondary-color: rgba(30,30,30,0.7);
$tertiary-color: #F5A623;
$active-text-color: #e1e1e1;
$offwhite: rgba(250,250,250,0.75);

$information-phone: "only screen and (max-width: 600px)";
$information-desktop: "only screen and (min-width: 601px)";


// TODO change effects from style.css to sass file
// includes link hover colors, header colors, tab colors
body {
	font-family: $font-stack;
	margin-top: -16px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	height: 100%;
}

header {
	min-width: 100%;
	height: 75px;
	background-color: #8991A4;
}

.header-navbar-element:hover {
  background-color: #6D7382;
  border-radius: 8px;
}

.coming-soon {
	height: 60px;
	position: absolute;
	left: 125px;
	top: 53px;
	font-size: 12px;
	visibility: false;
	opacity: 0;
	transition-duration: .4s;

	@media #{$information-phone} {
		top: 150px;
	}
}

.coming-soon:hover {
	opacity: 1;
	transition-duration: .2s;
}

.active {
	background-color: $secondary-color;
	border-radius: 8px;
}

.active:hover {
	background-color: $secondary-color;
}

@media #{$information-desktop} {
	.menu-icon {
		display: none;
	}

	.header-navbar-element {
		margin-top: 25px;
		padding: 4px;
		display: inline-block;
	}
}

@media #{$information-phone} {
	.menu-icon {
		width: 40px;
		position: absolute;
		top: 3px;
		left: 10px;
	}

	.header-navbar-list {
		display: none;
		margin-left: -25px;
		font-size: 20px;
	}

	.active {
		border-radius: 0;
		border-bottom: 1px solid $primary-color;
	}

	.header-navbar-element {
		position: relative;
		top: 75px;
		width: 200px;
		background-color: $secondary-color;
		list-style: none;
		padding: 15px;
	}
}

.link {
	padding: 15px;
	text-decoration: none;
	color: $active-text-color;
}

.profile img {
	position: absolute;
	top: 30%;
	border-radius: 100px;

	@media #{$information-desktop} {
		left: 75%;
		top: 3%;
	}

	@media #{$information-phone} {
		width: 30%;
		position: absolute;
		top: 5%;
		left: 35%;
	}
}

.section-banner-background img {
	max-width: 100%;
	margin-bottom: 0;

	@media #{$information-phone} {
		height: 350px;
	}
}

.section-button-link {
	position: absolute;
	top: 50%;
	left: 44%;
	text-decoration: none;
	color: $secondary-color;
	background-color: $primary-color;
	padding: 10px 25px;
	border-radius: 8px;

	@media #{$information-phone} {
		top: 40%;
		left: 38%;
	}
}

.section-button-link:hover {
	background-color: $primary-color;
	color: $secondary-color;
}

.section-text {
	margin-top: -4px;
	margin-bottom: 0; 
	padding-top: 30px;
	height: 100px;
	background-color: $primary-color;
	text-decoration: none;

	@media #{$information-phone} {
		margin-bottom: 0;
		top: 60px;
	}
}

.section-text a {
	font-size: 55px;
	padding: 20px;
	color: #000;

	@media #{$information-phone} {
		font-size: 25px;
		padding: 10px;
	}
}

.section-text a:hover {
	color: #fff;
}

.acknowlegments {
	margin-bottom: 0;
	background-color: $secondary-color;
	height: 30px;
	width: 100%;
}

.acknowlegments span {
	margin: 30px;
	font-size: 12px;
}

// CONTACT.CSS
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%); 
}

.contact-about {
	position: absolute;
	top: 40%;
	left: 15%;
	max-width: 70%;
	background-color: $secondary-color; 
	border-radius: 15px;
	max-height: 55%;
}

.contact-about-me {
	color: #e1e1e1;
	margin-top: 55px;
	padding: 25px;
}

.contact-section img {
	position: absolute;
	top: 20%;
	left: 41%;
	max-width: 15%;
	border-radius: 100px;
}

.contact-header {
	color: $offwhite;
	margin-left: 41%;
}

.contact-section-list {
	list-style: none;
	margin-left: 35%;
}

.account-link,
.account-link a > span {
	font-size: 32px;
	color: $offwhite; 
	display: inline-block;
	padding: 6px;
}

.account-link a > span:hover {
	color: #fff;
	transition-duration: .4s;
}

// RESUME.CSS

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry, .online-entry {
  padding-left: 5%;
  padding-right: 5%;
}

.nameLink {
  text-decoration: none;
  color: $tertiary-color;
}

.resume-section-head-1 {
  font-size: 40px;
  color: $tertiary-color;
  line-height: 48px;
  display: inline;
}

.resume-section-head-2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

.resume-section-head-3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

.resume-section-head-2,
.resume-section-head-3 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;

}

.pTag {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

.aTag {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: #F5AE23;
  // display: none;
}

.orange {
  background-color: #F5AE23;
}

.orange-text {
  color: #F5AE23;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
  @media #{$information-phone}{
  	min-height: 380px;
  }
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
  border-radius: 150px;
}

.projectImg {
  padding: 10px;
  width: 200px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}
