@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
body {
  font-family: "PT Sans Narrow", sans-serif;
  height: 100%; }

header {
  min-width: 100%;
  height: 75px;
  background-color: transparent; }
  @media only screen and (max-width: 600px) {
    header {
      height: 0;
      background-color: #000; } }

.bk-img {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%); }

@media only screen and (max-width: 600px) {
  .header-navbar-list {
    display: none;
    position: fixed;
    font-size: 20px;
    top: 2em;
    width: 6em;
    background-color: rgba(165, 165, 165, 0.8); } }

@media only screen and (min-width: 601px) {
  .header-navbar-element {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em; } }
@media only screen and (max-width: 600px) {
  .header-navbar-element {
    list-style: none;
    padding: 15px;
    margin-left: -2em; } }

.header-navbar-element a {
  text-decoration: none;
  transition-duration: 0.3s; }
  @media only screen and (min-width: 601px) {
    .header-navbar-element a {
      color: #A5A5A5;
      font-size: 20px; } }
  @media only screen and (max-width: 600px) {
    .header-navbar-element a {
      color: #e1e1e1; } }

.header-navbar-element a:hover {
  color: #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  transition-duration: 0.3s; }

.active a {
  color: #e1e1e1;
  border-bottom: 1px solid #e1e1e1; }

@media only screen and (min-width: 601px) {
  .menu-icon {
    display: none; } }
@media only screen and (max-width: 600px) {
  .menu-icon {
    width: 4em;
    position: fixed;
    top: 1em;
    left: 1em; } }

@media only screen and (min-width: 601px) {
  .credit-icon {
    display: none; } }
@media only screen and (max-width: 600px) {
  .credit-icon {
    position: fixed;
    width: 4em;
    top: 1em;
    right: 1em; } }

@media only screen and (min-width: 601px) {
  .exit-icon {
    display: none; } }
@media only screen and (max-width: 600px) {
  .exit-icon {
    display: none;
    position: absolute;
    width: 2em;
    top: 5.25em;
    right: 2em; } }

@media only screen and (min-width: 601px) {
  .credit {
    display: none; } }
@media only screen and (max-width: 600px) {
  .credit {
    display: none;
    text-align: center;
    position: fixed;
    font-size: 14px;
    right: 2em;
    top: 5em;
    width: 50%;
    height: 25%;
    background-color: rgba(165, 165, 165, 0.8);
    padding: 8px; } }

.front {
  position: fixed; }

.back {
  position: fixed; }

.contact-about {
  width: 100%;
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .contact-about {
      margin-top: 6em; } }

.contact-about-title {
  color: #e1e1e1; }
  @media only screen and (min-width: 601px) {
    .contact-about-title {
      font-size: 9em; } }
  @media only screen and (max-width: 600px) {
    .contact-about-title {
      font-size: 5em; } }

.contact-form {
  display: none;
  position: fixed;
  width: 24em;
  top: 6em;
  left: 50%;
  margin-left: -12em; }
  @media only screen and (max-width: 600px) {
    .contact-form {
      width: 22em;
      margin-left: -11em;
      top: 5em; } }

.contact-form-ul {
  width: 24em;
  height: 29em;
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  background-color: rgba(165, 165, 165, 0.8);
  border-radius: 2px; }
  @media only screen and (max-width: 600px) {
    .contact-form-ul {
      width: 22em;
      height: 25em; } }

.contact-form li {
  padding: 1em;
  position: relative;
  width: 22em; }
  @media only screen and (max-width: 600px) {
    .contact-form li {
      padding: 0.5em; } }

.contact-form h1 {
  margin: 0;
  display: inline-block; }
  @media only screen and (max-width: 600px) {
    .contact-form h1 {
      font-size: 26px; } }

.contact-form label {
  width: 2.5em;
  margin-top: 3px;
  display: inline-block;
  float: left;
  padding: 3px;
  font-size: 16px; }
  @media only screen and (max-width: 600px) {
    .contact-form label {
      font-size: 22px; } }

.contact-form-ul input, .contact-form-ul textarea {
  width: 12em;
  padding: 2px 8px;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFFFFF url("bg_form.png") left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px; }
  @media only screen and (max-width: 600px) {
    .contact-form-ul input, .contact-form-ul textarea {
      padding: 6px 12px; } }

.contact-form-ul input:focus, .contact-form-ul textarea:focus {
  background: #fff;
  border: 1px solid #39504E; }

.contact-form-ul li > textarea {
  height: 10em;
  width: 26em; }
  @media only screen and (max-width: 600px) {
    .contact-form-ul li > textarea {
      width: 25em;
      height: 11em; } }

.contact-form button {
  float: right;
  width: auto;
  background: rgba(165, 165, 165, 0.8);
  border: 0;
  padding: 9px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
  cursor: hand; }
  @media only screen and (max-width: 600px) {
    .contact-form button {
      float: left; } }

.contact-form button:hover {
  border: 1px solid #39504E;
  color: #fff; }

.contact-links {
  text-align: center; }
  @media only screen and (min-width: 601px) {
    .contact-links {
      position: fixed;
      right: 0;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      bottom: -1.5em; } }
  @media only screen and (max-width: 600px) {
    .contact-links {
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -8.5em; } }

.contact-section-list li {
  display: inline-block; }
  @media only screen and (max-width: 600px) {
    .contact-section-list li {
      bottom: 0; } }

.contact-section-list span {
  color: #A5A5A5;
  transition-duration: 0.3s; }
  @media only screen and (min-width: 601px) {
    .contact-section-list span {
      padding: .25em;
      font-size: 2.25em; } }
  @media only screen and (max-width: 600px) {
    .contact-section-list span {
      padding: 0 .5em 0 .5em;
      font-size: 3em; } }

.contact-section-list span:nth-child(1) {
  padding-left: 0;
  margin-left: 0; }

.contact-section-list span:hover {
  color: #e1e1e1;
  transition-duration: 0.3s; }

.clearfix {
  overflow: auto; }

.education-entry, .work-entry, .project-entry, .online-entry {
  padding-left: 5%;
  padding-right: 5%; }

.nameLink {
  text-decoration: none;
  color: #F5A623; }

.resume-section-head-1 {
  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline; }

.resume-section-head-2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px; }

.resume-section-head-3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px; }

.resume-section-head-2,
.resume-section-head-3 {
  padding: 5px;
  padding-left: 5%;
  padding-right: 5%; }

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left; }

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right; }

.pTag {
  font-size: 14px;
  color: #333333;
  line-height: 21px; }

.aTag {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block; }

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px; }

#skillsH3 {
  color: #F5AE23; }

.orange {
  background-color: #F5AE23; }

.orange-text {
  color: #F5AE23; }

.white-text {
  font-weight: bold;
  color: #FFFFFF; }

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear: both; }

.dark-gray {
  background-color: #4A4A4A; }

/* TODO: Replace with image later */
#header {
  background-color: #484848; }
  @media only screen and (max-width: 600px) {
    #header {
      min-height: 20em;
      padding-top: 3em; } }

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px; }

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%; }

ul {
  list-style-type: none; }

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
  border-radius: 150px; }

.projectImg {
  padding: 10px;
  width: 200px; }

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block; }

span {
  padding: 5px; }

#letsConnect {
  text-align: center; }

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%; } }
@media only screen and (max-width: 900px) {
  .biopic {
    width: 175px; } }
@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%; }

  .biopic {
    width: 150px; }

  .welcome-message {
    display: none; } }
#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%; }

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%; }

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block; } }

/*# sourceMappingURL=style.css.map */
